@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swalp');

/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

:root {
    --violet: hsl(27, 22%, 51%);
    --light-violet: hsl(235, 82%, 77%);
    --very-dark-blue: hsl(219, 29%, 14%);
    --midnight: hsl(220, 29%, 10%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(210, 22%, 96%);
    --gray: hsl(212, 23%, 69%);
    --dark-gray: hsl(212, 23%, 69%);
}

html, body {
    height: 100%;
}

body {
    font: 400 1em/1.625 Kumbh Sans, sans-serif;
    color: var(--very-dark-blue);
    background: var(--light-gray);
}

h1 {
    font-size: 1.75rem;
    line-height: 2.125;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.8125;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.125;
}